.ct-info {
  &__title {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
  }
  &__text {
    font-size: 16px;
    line-height: 30px;
    p {
      margin-bottom: 0;
    }
  }
  &__map {
    height: 220px;
    margin-top: 13px;
  }
}
