.m-preview-indicators {
  width: 100%;
  max-width: 500px;
  margin: 14px auto 50px;
  padding: 0 40px;
  position: relative;
  .item {
    cursor: pointer;
  }
}
.m-preview-prev,
.m-preview-next {
  padding: 5px 14px;
  border-radius: 50%;
  font-size: 18px;
  color: #333333;
  border: 0;
  cursor: pointer;
  margin-right: 5px;
  background-color: rgba(0,0,0,0.05);
  transition: all .3s;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  &:hover {
    background-color: rgba(0,0,0,0.3);
  }
  &:focus {
    outline: 0;
  }
}
.m-preview-next {
  transform: translateY(-50%) rotateY(180deg);
  margin-right: 0;
  margin-left: 5px;
  left: auto;
  right: 0;
}
