.ct-form {
  padding: 15px 18px 0 30px;
  margin-bottom: 30px;
  border: 1px solid $border;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  &__title {
    margin-left: 117px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  &__group {
    display: flex;
    margin-bottom: 20px;
  }
  &__label {
    width: 117px;
    line-height: 35px;
    margin-bottom: 0;
    &.required::after {
      content: '*';
      display: inline-block;
      margin-left: 6px;
      color: $red;
    }
  }
  &__input,
  &__textarea {
    flex: 1 0 0;
    padding: 4px 10px 5px;
    border: 1px solid $border;
  }
  &__btnwrap {
    text-align: center;
    margin: -10px 0 11px 117px;
  }
  &__btn {
    display: inline-block;
    font-size: 16px;
    line-height: 35px;
    padding: 0 18px;
    border: 0;
    background-color: $red;
    color: $white;
    cursor: pointer;
  }
  @media (max-width: 575px) {
    padding: 15px;
    &__title {
      margin-left: 0;
    }
    &__group {
      flex-wrap: wrap;
    }
    &__label {
      width: 100%;
    }
    &__btnwrap {
      margin-left: 0;
    }
  }
}
