// spacing
.mb-30 {
  margin-bottom: 30px !important;
}

// text
.text {
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
.text-12 {
  font-size: 12px !important;
}
.text-14 {
  font-size: 14px !important;
}
.text-16 {
  font-size: 16px !important;
}

// limit line
.limit-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  max-height: 1.5em;
  line-height: 1.5;
  &--2 {
    -webkit-line-clamp: 2;
    max-height: 3em;
  }
  &--3 {
    -webkit-line-clamp: 3;
    max-height: 4.5em;
  }
  &--4 {
    -webkit-line-clamp: 4;
    max-height: 6em;
  }
}
