body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: $gray-3;
  &.no-scroll {
    overflow: hidden;
  }
}
h1,h2,h3,h4,h5,h6 {
  line-height: 1.5;
}
a,
input,
button,
textarea,
select {
  &,&:focus {
    outline: 0;
  }
}
p {
  margin-bottom: 0;
}
img {
  max-width: 100%;
}
button {
  cursor: pointer;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
