.m-paging {
  .pagination {
    justify-content: center;
    margin-bottom: 50px;
  }
  .page-item {
    margin-right: 7px;
    &:last-child {
      margin-right: 0;
    }
  }
  .page-link {
    display: block;
    font-size: 14px;
    line-height: 28px;
    padding: 0 12px;
    border: 1px solid $border;
    &, &:hover {
      color: $gray-3;
    }
  }
  .page-item.active > .page-link {
    background-color: #333;
    &:hover {
      color: $white;
    }
  }
}
